    <nav class="navbar">
        <div class="container">
          <a class="navbar-brand m-0" href="/"><img src="/img/polytron_logo_red.svg" alt="" class="img-fluid nav-logo col-md-6"></a>
        </div>
    </nav>