<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mb-4">Add New Employee</h2>
            <form method="POST" action="/company/<%= company.company_id %>/employee" enctype="multipart/form-data">
                <div class="mb-3">
                  <label for="employee_name" class="form-label">Employee Name</label>
                  <input placeholder="Enter new employee name" type="text" class="form-control border-0" id="employee_name" name="employee_name" value="<%= oldValue.employee_name %>">
                <% if (typeof errors != 'undefined') { %>
                    <% errors.forEach(error => { %>
                        <% if (error.path == 'employee_name') { %>
                            <p class="text-light-grey">* <%=error.msg%></p>
                        <% } %>
                    <% }) %>
                <% } %>
                </div>

                <div class="mb-3">
                  <label for="employee_gender" class="form-label">Gender</label>
                  <br>
                  <% if (oldValue.employee_gender != null) { %>
                    <% if (oldValue.employee_gender == 1) { %>
                        <input type="radio" class="form-check-input" id="male" name="employee_gender" value="1" checked>
                        <label for="male-label" class="form-check-label">Male</label>
                        <input type="radio" class="form-check-input" id="female" name="employee_gender" value="2">
                        <label for="female-label" class="form-check-label">Female</label>
                    <% } else { %>
                        <input type="radio" class="form-check-input" id="male" name="employee_gender" value="1" >
                        <label for="male-label" class="form-check-label">Male</label>
                        <input type="radio" class="form-check-input" id="female" name="employee_gender" value="2" checked>
                        <label for="female-label" class="form-check-label">Female</label>
                    <% } %>
                <% } else { %>
                    <input type="radio" class="form-check-input" id="male" name="employee_gender" value="1" >
                    <label for="male-label" class="form-check-label">Male</label>
                    <input type="radio" class="form-check-input" id="female" name="employee_gender" value="2">
                    <label for="female-label" class="form-check-label">Female</label>
                <% } %>
                  <% if (typeof errors != 'undefined') { %>
                    <% errors.forEach(error => { %>
                        <% if (error.path == 'employee_gender') { %>
                            <p class="text-light-grey">* <%=error.msg%></p>
                        <% } %>
                    <% }) %>
                <% } %>
                </div>

                <div class="mb-3">
                  <label for="employee_birthday" class="form-label">Birthday</label>
                  <input type="date" class="form-control border-0" id="employee_birthday" name="employee_birthday" value="<%= oldValue.employee_birthday %>">
                  <% if (typeof errors != 'undefined') { %>
                    <% errors.forEach(error => { %>
                        <% if (error.path == 'employee_birthday') { %>
                            <p class="text-light-grey">* <%=error.msg%></p>
                        <% } %>
                    <% }) %>
                <% } %>
                </div>

                <div class="mb-3">
                  <label for="employee_picture" class="form-label">Picture</label>
                  <br>
                  <button type="button" class="custom-file-input btn rounded">
                    <i class="bi bi-plus-circle-fill fs-2 custom-file-icon"></i>
                  </button>
                  <!-- <label for="form-label" id="custom-file-label">No file chosen</label> -->
                  <input type="file" class="form-control border-0 d-none" id="employee-file" name="employee_picture" value="<%= oldValue.employee_picture %>">
                  <% if (typeof errors != 'undefined') { %>
                    <% errors.forEach(error => { %>
                        <% if (error.path == 'employee_picture') { %>
                            <p class="text-light-grey">* <%=error.msg%></p>
                        <% } %>
                    <% }) %>
                <% } %>
                </div>

                <div class="mb-3">
                  <label for="employee_phone" class="form-label">Phone</label>
                  <input placeholder="Enter new employee phone" type="text" class="form-control border-0" id="employee_phone" name="employee_phone" value="<%= oldValue.employee_phone %>">
                  <% if (typeof errors != 'undefined') { %>
                    <% errors.forEach(error => { %>
                        <% if (error.path == 'employee_phone') { %>
                            <p class="text-light-grey">* <%=error.msg%></p>
                        <% } %>
                    <% }) %>
                <% } %>
                </div>
                <button type="submit" class="btn btn-red">Add Employee</button>
                <a href="/company/<%= company.company_id %>" class="btn btn-outline-red">Cancel</a>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(() => {
    $('.custom-file-input').click(() => {
        $('#employee-file').click();
    });

    $('#employee-file').change((e) => {
        const fileName = e.target.files[0].name;
        // $('#custom-file-label').text(fileName);

        // Read and display the uploaded image (improved approach):
        if (e.target.files[0]) {
            const reader = new FileReader();
            reader.onload = (e) => {
                $('.custom-file-input').css('background-image', `url(${e.target.result})`);
                $('.custom-file-icon').toggleClass('d-none')
            };
            reader.readAsDataURL(e.target.files[0]);
        }
    });
    });

</script>