<div class="container mt-3">
    <div class="row">
        <div class="col-md-12">
            <a href="/" class="text-red text-decoration-none company-back-button"><h2> <i class="bi bi-arrow-left"></i> <%= company.company_name %></h2></a>
            <div class="row">
              <h2 class="col-md">Employee List</h2>
              <a href="/company/<%= company.company_id %>/employee/add" class="btn btn-red mb-2 col-md-2 rounded"><i class="bi bi-plus"></i> New Employee</a>
            </div>
            <div class="row">
              <div id="employee-table">
                <div class="row mt-3 bg-white py-4 rounded align-items-center">
                  <div class="col-sm-4 text-light-grey">Employee Name</div>
                  <div class="col-sm-2 text-light-grey">Gender</div>
                  <div class="col-sm-3 text-light-grey">Birthday</div>
                  <!-- <div class="col-sm-3 text-light-grey">Action</div> -->
                </div>
                <% if (employees.length === 0) { %>
                  <div class="row mt-3 py-4 rounded">
                    <div class="alert alert-danger fw-bold" role="alert">
                      There is no employee data
                    </div>
                  </div>
                <% } %>
                <% employees.forEach(employee => { %>
                  <div class="row mt-3 px-2 bg-white py-4 rounded align-items-center">
                    <div class="col-sm-4"><%= employee.employee_name %></div>
                    <div class="col-sm-2"><%= employee.employee_gender === 1 ? 'Male' : 'Female' %></div>
                    <div class="col-sm-3"><%= moment(employee.employee_birthday).format('DD/MM/YYYY') %></div>
                    <div class="col-sm-3">
                      <div class="row justify-content-end">
                        <a href="/company/<%= employee.company_id %>" class="col-md-10 btn btn-red badge py-2 view-button" data-id="<%= employee.employee_id %>" data-bs-toggle="modal" data-bs-target="#exampleModal">Details</a>
                      </div>
                      <div class="row justify-content-end align-items-center mt-1">
                        <a href="/employee/edit/<%= employee.employee_id %>" class="col-md-5 text-light-grey badge"><i class="bi bi-pencil-fill"></i> Edit</a>
                        <form class="col-md-5 border-start" action="/employee?_method=DELETE" method="POST">
                          <input type="hidden" name="employee_id" value="<%= employee.employee_id %>">
                          <input type="hidden" name="company_id" value="<%= employee.company_id %>">
                          <button type="submit" class="btn badge text-red text-decoration-underline" onclick="return confirm('are you sure you want to remove this employee?')">Remove</button>
                        </form>
                      </div>
                    </div>
                  </div>
                <% }) %>
              </div>
              <div class="col-md-3 mx-3 mt-3 bg-white rounded d-none" id="hidden-profile">
                <div class="row justify-content-end">
                  <button class="col-md-2 close-button">&times;</button>
                </div>
                <img src="" alt="" class="row img-fluid mb-3 mx-auto" id="employee-picture">
                <h2 class="text-red" id="employee-name"></h2>
                <p id="employee-phone"></p>
                <div class="row">
                  <p class="col-md-4" id="employee-gender"></p>
                  <p class="col-md-4 border-start" id="employee-birthday"></p>
                </div>
              </div>
            </div>
              <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <label for="name" id="name"></label> <br>
                      <img src="" alt="..."id="picture" class="img-thumbnail">
                      <label for="gender" id="gender"></label> <br>
                      <label for="birthday" id="birthday"></label> <br>
                      <label for="phone" id="phone"></label> <br>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div> -->
        </div>
    </div>
</div>

<script>
  $(document).ready(() => {
    $('.view-button').click(function(e) {
      e.preventDefault();
      let employeeId = $(this).data('id');
      
      $.ajax({
        url: '/company/employee/' + employeeId,
        method: 'GET',
        success: function(employee) {
          if (employee.employee_picture) {
            $('#employee-picture').attr('src', '/img/' + employee.employee_picture);
          } else {
            $('#employee-picture').attr('src', '/img/No_image_available.svg.png');
          }
          // console.log(employee.employee_picture)
          $('#employee-name').text(employee.employee_name);
          const genderIcon = employee.employee_gender === 1 ? '<i class="bi bi-gender-male"></i>' : '<i class="bi bi-gender-female"></i>';
          $('#employee-gender').html(genderIcon + ' ' + (employee.employee_gender === 1 ? 'Male' : 'Female'));
          $('#employee-birthday').text(moment(employee.employee_birthday).format('DD/MM/YYYY'));
          $('#employee-phone').text(employee.employee_phone);
          
          if ($('#hidden-profile').hasClass('d-none')) {
            $('#hidden-profile').toggleClass('d-none');
            $('#employee-table').toggleClass('col-md-8 border-end pe-4');
          }
        },
        error: function(xhr, status, error) {
          console.error(xhr, status, error);
          alert('Error fetching employee data. Please try again later.');
        }  
      });
    });
    $('.close-button').click((e) => {
      if (!$('#hidden-profile').hasClass('d-none')) {
        $('#hidden-profile').toggleClass('d-none');
        $('#employee-table').toggleClass('col-md-8 border-end pe-4');
      }
    })
  });
</script>