/* Navbar Start */
.navbar {
    background-color: #990011;
}

.navbar-logo {
    width: 200px;
}
/* Navbar End */

/* General Start */
body {
    background-color: #FCF6F5;
}

.text-light-grey {
    color: #C4C4C4;
}

.text-red {
    color: #990011;
}
/* General End */

/* Button Start */
.btn-red {
    background-color: #990011;
    color: #FFFFFF;
}

.btn-outline-red {
    border-color: #990011;
    color: #990011;
}

.btn-outline-red:hover {
    background-color: #990011;
    color: #FFFFFF;
}
/* Button End */

/* Employee Start */
/* .hidden-profile {
    visibility: hidden;
}

.visible-profile {
    visibility: visible;
} */

#employee-picture {
    width: 200px;
    height: 200px;
}

.close-button {
    padding: 5px;
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.close-button:hover {
    color: #ddd;
}

.company-back-button:hover {
    color: #990011;
    opacity: 50%;
}

.custom-file-input {
    width: 100px;
    height: 100px;
    background-color: #C4C4C4;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.custom-file-input:hover {
    opacity: 0.75;
}

/* Employee End */

