<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mb-4">Edit Company Details</h2>
            <form method="POST" action="/company?_method=PUT">
                <input type="hidden" name="id" value="<%= company.company_id %>">
                <div class="mb-3">
                  <label for="company_name" class="form-label">Company Name</label>
                  <input placeholder="Enter new company name" type="text" class="form-control border-0" id="company_name" name="company_name" value="<%= company.company_name %>">
                  <% if (typeof errors != 'undefined') { %>
                    <% errors.forEach(error => { %>
                        <% if (error.path == 'company_name') { %>
                            <p class="text-light-grey">* <%=error.msg%></p>
                        <% } %>
                    <% }) %>
                <% } %>
                </div>

                <div class="mb-3">
                  <label for="company_phone" class="form-label">Company Phone</label>
                  <input placeholder="Enter new company phone number" type="text" class="form-control border-0" id="company_phone" name="company_phone" value="<%= company.company_phone %>">
                  <% if (typeof errors != 'undefined') { %>
                    <% errors.forEach(error => { %>
                        <% if (error.path == 'company_phone') { %>
                            <p class="text-light-grey">* <%=error.msg%></p>
                        <% } %>
                    <% }) %>
                <% } %>
                </div>

                <div class="mb-3">
                  <label for="company_address" class="form-label">Company Address</label>
                  <textarea placeholder="Enter new company address" class="form-control" id="company_address" name="company_address" rows="10" cols="30"><%= company.company_address %></textarea>
                  <% if (typeof errors != 'undefined') { %>
                    <% errors.forEach(error => { %>
                        <% if (error.path == 'company_address') { %>
                            <p class="text-light-grey">* <%=error.msg%></p>
                        <% } %>
                    <% }) %>
                <% } %>
                </div>
                <button type="submit" class="btn btn-red">Save Changes</button>
                <a href="/" class="btn btn-outline-red">Discard Changes</a>
            </form>
        </div>
    </div>
</div>