<div class="container mt-3">
    <div class="row">
        <div class="col-md">

            <div class="row">
              <h2 class="col-md">Company List</h2>
              <a href="/company/add" class="btn btn-red mb-2 col-md-2"><i class="bi bi-plus"></i> New Company</a>
            </div>

            <div class="row mt-3 bg-white py-4 rounded align-items-center">
              <div class="col-sm-5 text-light-grey">Company Name</div>
              <div class="col-sm-2 text-light-grey">Phone</div>
              <div class="col-sm-3 text-light-grey">Address</div>
              <!-- <div class="col-sm-3 text-light-grey">Action</div> -->
            </div>
            <% if (companies.length === 0) { %>
              <div class="row mt-3 py-4 rounded">
                <div class="alert alert-danger fw-bold" role="alert">
                  There is no company data
                </div>
              </div>
            <% } %>
            <% companies.forEach(company => { %>
              <div class="row mt-3 px-2 bg-white py-4 rounded align-items-center">
                <div class="col-sm-5">
                  <div class="row align-items-center">
                    <img src="/img/company.jpg" class="img-fluid rounded col-md-3" alt="...">
                    <p class="col-md-9 m-0"><%= company.company_name %></p>
                  </div>
                </div>
                <div class="col-sm-2"><%= company.company_phone %></div>
                <div class="col-sm-3"><%= company.company_address %></div>
                <div class="col-sm-2">
                  <div class="row justify-content-end">
                    <a href="/company/<%= company.company_id %>" class="col-md-10 btn btn-red badge py-2"><i class="bi bi-person-fill"></i> Employee List</a>
                  </div>
                  <div class="row justify-content-end align-items-center mt-1">
                    <a href="/company/edit/<%= company.company_id %>" class="col-md-5 text-light-grey badge"><i class="bi bi-pencil-fill"></i> Edit</a>
                    <form class="col-md-5 border-start" action="/company?_method=DELETE" method="POST">
                      <input type="hidden" name="id" value="<%= company.company_id %>">
                      <button type="submit" class="btn badge text-red text-decoration-underline" onclick="return confirm('are you sure you want to remove this company?')">Remove</button>
                    </form>
                  </div>
                </div>
              </div>
            <% }) %>
            <!-- <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Nama</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Address</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <% if (companies.length === 0) { %>
                    <tr>
                      <td colspan="4">
                        <div class="alert alert-danger fw-bold" role="alert">
                          Data company kosong
                        </div>
                      </td>
                    </tr>
                  <% } %>
                  <% companies.forEach((company, i) => { %>
                  <tr>
                    <td><%= company.company_name %> </td>
                    <td><%= company.company_phone %></td>
                    <td><%= company.company_address %></td>
                    <td>
                      <a href="/company/<%= company.company_id %>" class="btn btn-success badge rounded-pill"><i class="bi bi-info-circle"></i> Employee List</a>
                      <a href="/company/edit/<%= company.company_id %>" class="btn btn-info badge">Update</a>
                      <form action="/company?_method=DELETE" method="POST">
                        <input type="hidden" name="id" value="<%= company.company_id %>">
                        <button type="submit" class="btn btn-danger badge" onclick="return confirm('apakah anda ingin menghapus data company?')">Delete</button>
                      </form>
                    </td>
                  </tr>
                  <% }) %>
                </tbody>
              </table> -->
        
        </div>
    </div>
</div>